
/*====================== PADRÃO =============*/
* {
    padding: 0;
    margin: 0;

    font-family: 'Inter';
}

:root{
    --colorHome: #667085;
    --colorButton: #8E2424;
    --bageBase: rgba(142, 36, 36, 0.05);;
    --fundoDepoimento:  rgba(196, 25, 25, 0.03);
    --fundoFooter: #F9FAFB;
}

body{
    overflow-x: hidden;
}


.wraper{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-around;
    
    margin-block: 1.8rem;   
}

/*====================== NAVEGAÇÃO =============*/

#inicio .cabecalho ul{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}


#inicio .cabecalho li{
    list-style: none;
}

#inicio .cabecalho a{
    color: var(--colorHome);
    text-decoration: none;
}
#inicio .cabecalho a:hover{
    color: var(--colorButton);
    font-weight: 900;
}

#inicio .cabecalho .infoPage a{
    font-size: 1rem;
    line-height: 2.4rem;
}

#inicio .cabecalho .infoUsuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    
}

#inicio .cabecalho .infoUsuario .marginEntra {
    margin-left: 8rem;
   
}


#inicio .cabecalho .infoUsuario .botao{
    background-color: var(--colorButton);
    
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.8rem;

    padding-block: 0.5rem;
    padding-inline: 1rem;

}

#inicio .cabecalho .infoUsuario .botao:hover{
    background-color: rgba(119, 5, 5, 0.74);
}


#inicio .cabecalho .infoUsuario .botao a{
    color: white;
    
}


/*====================== SOBRE =============*/

#sobre .wraper {
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
    
}

#sobre .wraper header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 5rem;
    text-align: center;

    padding-bottom: 8rem;
}

#sobre .wraper header h3{
    color: var(--colorButton);
}

#sobre .wraper  header h1{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 125%;
}

#sobre .wraper header p{
    width: 40rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    

    text-align: center;
    
}

#sobre .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    
    gap: 2rem;
    
}


#sobre .info .card{
    justify-content: space-between;
    width: 28rem;
}

#sobre .info .card h1{
    color: var(--colorButton);
    font-weight: 600;
    font-size: 3rem;
    line-height: 120%;
}

#sobre .info .card h3{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 156%;
}

#sobre .info .card p{
    color: var(--colorHome);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

/*====================== VAGAS =============*/

#vagas .wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

#vagas .wraper header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 0.7rem;
}

#vagas .wraper header h3 {
    color: var(--colorButton);
    background-color: var(--bageBase);
    text-align: center;

    font-weight: 500;
    font-size: 1rem;
    line-height: 143%;
    
    padding: 0.4rem 1rem;
    width: 10rem;
    height: 1.5rem;
    
    border-radius: 1rem;
    
}

#vagas .wraper header h1{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 122%;
    letter-spacing: -0.02em;
    text-align: center;
    
}

#vagas .wraper header p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--colorHome);
}

#vagas .wraper .conteudo{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

#vagas .wraper .conteudo .areas{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#vagas .wraper .conteudo .areas .vaga{
    display: flex;
    flex-direction: column;
    gap: 3rem;



    padding: 2rem 2rem 2.2rem;
    border: 1px solid #EAECF0;
    border-radius: 1.6rem;

    width: 55rem;
    height: 6rem;
}

#vagas .wraper .conteudo .areas h4{
    font-size: 1.5rem;
    line-height: 150%;

}

/*====================== DEPOIMENTOS =============*/

#depoimentos .wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: 6rem;
    margin-inline: auto;

    background-color: var(--fundoDepoimento);
    border-radius: 1.6rem;
    width: 70rem;
    height: 20rem;

}

#depoimentos .wraper header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

#depoimentos .wraper header h3{
    color: var(--colorButton);
    font-size: 1rem;
    padding-top: 2rem;
}

#depoimentos .wraper header h1{
    width: 65rem;

    font-size: 2rem;
    line-height: 122%;
 

    text-align: center;
    letter-spacing: -0.02em;

}

#depoimentos .wraper .conteudo img,
#depoimentos .wraper .conteudo h4{
    margin-bottom: 0.7rem;
}

#depoimentos .wraper .conteudo p{
  font-size: 0.7rem;
  padding-bottom: 2rem;
}

/*====================== FOOTER =============*/

footer .wraper{
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    gap: 3rem;

    background-color: var(--fundoFooter);
    padding: 5rem 0px;
    width: 100%;
    height: 8rem;

    margin-top: 6rem;
}

footer .wraper header h1 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 122%;

    text-align: center;
    letter-spacing: -0.02em;
}

footer .wraper header p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;

    color: var(--colorHome);
    text-align: center;
    margin-top: 1rem;
}

footer .wraper .conteudo input{
    border: 1px solid #D0D5DD;

    background-color: white;
    color: var(--colorHome);

    padding: 1rem 1.2rem 1rem 1.4rem;
    width: 20rem;
    height: 1rem;


    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.8rem;
}

footer .wraper .conteudo button{
    cursor: pointer;
    border: 1px solid #8E2424;
 
    background-color: var(--colorButton);
    color: white;

    padding: 1rem 1.6rem;


    width: 7rem;
    height: 3rem;


    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.8rem;
}

footer .wraper .conteudo button:hover{
    background-color: rgba(119, 5, 5, 0.74);
}

footer .wraper .direitos p{
    color: var(--colorHome);
    font-size: 0.7rem;
} 

footer .wraper .direitos a{
    text-decoration: none;
    color: var(--colorButton);
    font-weight: bold;
}
